body {
    margin: 0;
    width: 100%;
    background-color: rgb(226, 217, 217);
}

.header {
    width: 100%;
    height: 40px;
    background-color: white;
    display: flex;
}

.login, .signup{
    margin: 0 auto;
    text-align: center;
    width: 400px;
    height: 700px;
}

.title {
    width: 100%;
    height: 80px;
    display: flex;
    display: block;
    margin-top: 30px;
}

.login_title {
    margin-top: 30px;
    border-top: 2px solid black;
    padding-top: 10px;
}




